* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero__section {
  background: url("images/heroSectionBackground.png");
  color: white;
  min-height: 65vh;
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  padding: 36px 58px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar__menu__container {
  display: flex;
  gap: 32px;
  font-size: 18px;
  font-weight: 300;
}

.user__icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: solid 1px white;
  display: none;

}

@media only screen and (max-width: 820px) {
  .navbar__menu__container {
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar__menu__container .link {
    display: none;
  }

  .navbar {
    padding: 16px;
  }

  .hero__section {
    min-height: 80vh;
  }

  .user__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(65vh - 60px);
  gap: 32px;

}

.hero__section_logo {
  width: 255px;
  height: auto;

}

.hero__section_title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;

}

.hero__section_input_container {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.input__container_location,
.input__container_search {
  padding: 5px;
  border: none;
  outline: none;

}

.input__container_search {
  width: 69%;
}

.input__container_location {
  width: 31%;
  border-right: 2px solid #e0e0e0;
}

@media only screen and (max-width: 820px) {
  .navbar__menu__container {
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar__menu__container .link {
    display: none;
  }

  .navbar {
    padding: 16px;
  }

  .hero__section {
    min-height: 80vh;
  }

  .user__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__section_input_container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;

  }

  .input__container_search,
  .input__container_location {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 90%;
  }

  .hero__section_container {
    height: calc(80vh - 60px);
  }

  .input__container_location {
    border-right: none;
  }
}

.container {
  margin: 3rem auto;
  width: 80%;
}

.we__offer {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
  justify-content: center;

}

.we__offer .card {
  border-radius: 10px;
  overflow: hidden;
  /* border not being applied to img tag so img get overflow 
image flowing out of border*/
  border: 1px solid #e0e0e0;
  transition: all 300ms ease-in-out;

}

.we__offer .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  /* if we dont apply object fit it stays at same place same width and same height but you want 
  that image cover whole parent you use these two commands 
  won't sshrink the heught and width*/
  object-position: center;
  /* these two properties we apply so that our image not get smug */
}

.we__offer .card h2 {
  padding: 10px 10px 15px 10px;
  font-size: 20px;
  font-weight: 400;
}

.we__offer .card p {
  font-size: 13px;
  padding: 0 10px 10px 10px;
}

.we__offer .card:hover {
  transform: scale(1.05);
}

.collections h1 {
  font-weight: 400;
}

/* .collections  */
.sub__heading_container {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;

}

.sub__heading_container span:nth-child(2) {
  color: #ff7e8b;
  font-size: 13px;


}

.collections_card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;

}

.collections_card_container .card {
  height: 300px;
  min-width: 240px;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.card1 {
  background-image: url('images/collection1.jpg');
}

.card2 {
  background-image: url('images/collection2.jpg');
}

.card3 {
  background-image: url('images/collection3.jpg');
}

.card4 {
  background-image: url('images/collection4.jpg');
}

.overlay {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, .05) 50%,
      rgba(0, 0, 0, 0.05) 85%);
  /* when we specify 0 deg means it will go from bottom to top */
  /* linear gradient will not work until position is specified */
  width: 100%;
  display: absolute;
  height: 100%;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  border-radius: 10px;
}

.collections_card_container .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 12px 16px;
  font-size: 14px;
}

.content h4 {
  font-weight: 400;
}

.variety_container {
  display: flex;
  flex-direction: column;
  width: 74%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.variety_section {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 48px;
  transition: all ease 200ms;
  /* align-items: center;
  justify-content: center; */
  /* flex-direction: row; */
}

.variety_sub_section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sub_sub_section {
  border: 1px solid rgba(232, 232, 232, 0.76);
  border-radius: 8px;
  box-shadow: rgb(213, 213, 213) 0px 1.5px 2.9px;

  width: 355px;
}

.sub_sub_section p {
  padding: 8px 15px;
}

.sub_sub_section:hover {
  box-shadow: rgb(213, 213, 213) 0 2.5px 4.5px;
  transform: scale(1.01);
}


.get__the_app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 251, 247);
  width: 100%;
  padding: 3rem 4rem;

}

.get__the_app .semiContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;


}

.get__the_app .semiContainer .left {
  flex: 2
}

.get__the_app .semiContainer .left img {
  width: 100%;
  object-fit: cover;

}

.get__the_app .semiContainer .right {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.right h1 {
  font-weight: 600;
  font-size: 32px;
}

.right p {
  font-size: 14px;
}

.semiContainer .right .radio__buttons_container {
  display: flex;
  align-items: center;
  gap: 16px;

}

.semiContainer .right .radio__buttons_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.semiContainer .right .radio__buttons_container div input {
  height: 15px;
  width: 15px;
  accent-color: rgb(239, 79, 95);
}

.semiContainer .right .input_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.input_container button,
.input_container input {
  padding: 10px 12px;
}

.input_container input {
  border: 1.5px solid gray;
  outline: none;
  border-radius: 5px;
  flex: auto;
  /* as the parent of input is div we can specify one and of the div as flex and other as fixed size so that the flex one can occcupy the rest of the space? */

}

.input_container button {
  border: none;
  background-color: rgb(239, 79, 95);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.right .download__app_container {
  flex-direction: flex;
  flex-direction: column;
  gap: 0.7rem;

}

.download__app_container h5 {
  font-weight: 400;
  color: grey;
  /* gap: 10px; */
  margin-bottom: 8px;
}

.download__app_container div {
  display: flex;
  gap: 16px;
}

.download__app_container div img {
  width: 35%;
}

@media only screen and (max-width:1300px) {
  .get__the_app .semiContainer .left {
    flex: 1;
  }

  .get__the_app .semiContainer .right {
    flex: 1;
  }

  .get__the_app .semiContainer {
    width: 80%;
  }
}

@media only screen and (max-width:900) {
  .get__the_app {
    padding: 2rem;
  }

  .get__the_app .semiContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .get__the_app {
    padding: 3rem 0;
  }

  .get__the_app .semiContainer {
    width: 80%;
    flex-direction: column;
  }
}

.footer {
  width: 100%;
}

.footer_section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;

}

.footer_section1 img {
  width: 120px;
  height: auto;


}

.section1_buttonContainer {
  display: flex;
  gap: 16px;

}

.section1_buttonContainer button {
  padding: 5px;
  width: 90px;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.navigation_container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* units like px, rem also work in this property instead of fr */
  /* you can even repeat instead of writting individually repeat(5,1fr)   repear 5 times 1 fr */
  /* always work grid with media query as it is in fragments you have tro decrease the no of fragments */
  gap: 1rem;
  padding: 48px 0;
}

.link_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link_container h5 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}

.footer__link {
  text-decoration: none;
  color: grey;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.footer__link:hover {
  color: black;
}

.social__links_container {
  display: flex;
  gap: 0.5rem;

}

.social__links_container button {
  background-color: black;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__links_container button i {
  color: white;
  font-size: 13px;
}

.footer__store_logos {
  width: 100%;
}

.footer .disclaimer {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  font-size: 12px;
  color: gray;
  border-top: 1px solid grey;


}

@media only screen and (max-width:900px) {
  .navigation_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width:600px) {
  .navigation_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:450px) {
  .footer_section1 {
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;

  }

  .navigation_container {
    grid-template-columns: 1fr;
  }
}